#root {
  max-width: 100%;
  width: 100%;
  height: 100vh;

  text-align: center;
  align-content: center;
}

/* 
@import compass 

.container {
  max-width: 400px;
  margin: 0 auto;
}

.signature {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 0;
  padding-bottom: 55.30973451%;
} */

/* svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
} */




/* Add this CSS in your stylesheet */
.shadow-left {
  box-shadow: -8px 0 10px rgba(0, 0, 0, 0.2);

}